body 
{
    font-family: Arial, sans-serif;
    background-color: #0a209c13;
    text-align: center;
    padding: 50px;
}

h1 
{
    color: #2c3e50;
}

p 
{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

b
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
